certifi==2021.5.30
chardet==4.0.0
click==8.0.1
cmake==3.20.5
colorama==0.4.4
colorlog==5.0.1
dlib==19.22.0
EasyProcess==0.3
entrypoint2==0.2.4
face-recognition==1.4.0
face-recognition-models==0.3.0
idna==2.10
iso-639==0.4.5
iso3166==1.0.1
isodate==0.6.0
jeepney==0.7.0
joblib==1.0.1
mss==6.1.0
numpy==1.21.0
opencv-python==4.5.3.56
pafy==0.5.5
Pillow==8.3.1
pycryptodome==3.10.1
pyscreenshot==3.0
PySocks==1.7.1
pyzmq==22.1.0
requests==2.25.1
scikit-learn==0.24.2
scipy==1.7.0
simplejpeg==1.6.1
six==1.16.0
streamlink==2.2.0
threadpoolctl==2.2.0
tqdm==4.61.2
urllib3==1.26.6
vidgear==0.2.1
websocket-client==1.1.0
youtube-dl==2021.6.6
